version: '3.8'
services:
  api:
    build: .
    container_name: ${CONTAINER}
    environment:
      - CDIFSERVICE=${CDIFSERVICE}/ollama
      - OLLAMASERVICE=${OLLAMASERVICE}
      - SPARQLMUSE=${SPARQLMUSE}
      - CESSDAURL=${CESSDAURL}
      - TIMEOUT=${TIMEOUT}
      - DEFAULTMODEL=${DEFAULTMODEL}
    ports:
      - "${PORT}:80"
    volumes:
      - ./api:/app/api 
