version: '3.8'
services:
  api:
    build: .
    container_name: ${CONTAINER}
    environment:
      - CDIFSERVICE=${CDIFSERVICE}
      - OLLAMASERVICE=${OLLAMASERVICE}
    ports:
      - "${PORT}:80"
    volumes:
      - ./api:/app/api 
